body {
    background: url('../../dogImg-min.jpg') fixed no-repeat center ;
    background-size: cover;
}

.p {
    color: rgb(10, 10, 11);
    font-size: 30px;
    padding: 0;
    margin: 0 0 0 10px;
    font-weight: bold;
}
