.name {
  text-align: center;
  width: 100%;
  font-weight: bold;
  color: rgb(107, 192, 245);
  background-color: black;
  border-radius: 27px 27px 0 0;
  font-size: 30px;
}
.cardBody {
    margin-top: 0px !important;
    padding-top: 0px !important;
  }
  .img {
    height: 190px;
    width: 250px;
    border-radius: 10px;
    box-shadow: 8px 5px;
    margin-bottom: 20px;
    border: white solid 1px;
    margin-top: 5px;
    margin-right: 15px;
    margin-left: 15px;
  }
  .card{
    background-color: rgb(245, 136, 27);
    border: solid rgb(12, 12, 12) 3px;
    width: fit-content;
    margin: 20px 0 20px 0;
    border-radius: 30px;
    height: fit-content;
  }
 
  .divImg {
    text-align: center;
    width: 100%;
  }

  a {
    transition-property: margin-left, margin-right, font-size;
    transition-duration: 500ms;
}
a.link:link {
    font-size: 30px;
    margin:0px;
    text-decoration: none;
    color: rgb(107, 192, 245);
}

 a.link:hover {
    font-size: 33px;
    color: rgb(107, 192, 245);
}
a.link.active {
    margin-left: 22px;
    margin-right: 22px;
    font-size: 40px;
    color: rgb(107, 192, 245);
   
}
a.link:visited {
  color: rgb(107, 192, 245);
}

.atributes { 
  color: antiquewhite;
  font-size: 22px;
  font-weight: bold;
  margin-left: 5px;
  font-family:cursive;
}
div.content {
  font-size: 20px;
  margin-left: 5px;
  margin-right: 5px;
}

.align {
  margin-left: 50px;
}
.space {
  margin-bottom: 20px;
}
.nameDiv {
  margin: 0 20px 0 20px;
}

@media only screen and (max-width: 600px) {
  .name {
    text-align: center;
    width: 100%;
    font-weight: bold;
    color: rgb(107, 192, 245);
    background-color: black;
    border-radius: 27px 27px 0 0;
    font-size: 14px;
  }
  .cardBody {
      margin-top: 0px !important;
      padding-top: 0px !important;
    }
    .img {
      height: 80px;
      width: 110px;
      border-radius: 10px;
      box-shadow: 8px 5px;
      margin-bottom: 20px;
      border: white solid 1px;
      margin-top: 5px;
      margin-right: 15px;
      margin-left: 15px;
    }
    .card{
      background-color: rgb(245, 136, 27);
      border: solid rgb(12, 12, 12) 3px;
      width: 40%;
      margin: 20px 0 20px 0;
      border-radius: 30px;
      height: fit-content;
    }
   
    .divImg {
      text-align: center;
      width: 100%;
    }
  
    a {
      transition-property: margin-left, margin-right, font-size;
      transition-duration: 500ms;
  }
  a.link:link {
      font-size: 16px;
      margin:0px;
      text-decoration: none;
      color: rgb(107, 192, 245);
  }
  
   a.link:hover {
      font-size: 19px;
      color: rgb(107, 192, 245);
  }
  a.link:visited {
    color: rgb(107, 192, 245);
  }
  
  .atributes { 
    color: antiquewhite;
    font-size: 14px;
    font-weight: bold;
    margin-left: 5px;
    font-family:cursive;
  }
  div.content {
    font-size: 12px;
    margin-left: 5px;
    margin-right: 5px;
  }
  
  .align {
    margin-left: 50px;
  }
  .space {
    margin-bottom: 20px;
  }
  .nameDiv {
    margin: 0 20px 0 20px;
  }
}